:root{
    --color-primary: #e37412;
    --color-secondary: #54a7c4;
    --color-accent: #000;
}
html{
    font-size: 62.5%;
}
*,*::before,*::after{
    box-sizing: border-box;
}
body{
    font-family: 'Merriweather', serif, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    background: var(--color-secondary);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.control{
    max-width: 300px;
    text-align: center;
    width: 100%;
}
.lines{
    margin: 1.75rem;
}
.lines label,.rating,.btn{
    text-transform: uppercase;
    font-weight: 700;
}
.lines input{
    padding: 1rem;
    width: 100%;
    outline: 0;
    background: rgba(111,114,117,.01);
    border: 3px solid;
    border-radius: 1rem;
    outline: 0;
    transition: box-shadow .2s;
}
.lines input:hover{
    box-shadow: 0 0 0 2px;
}
.rating{
    display: flex;
    align-items: center;
    justify-content: center;
}
.star{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    padding: 2.5rem 2.5rem;
    border: 3px solid #000;
    border-radius: 1rem;
    gap: 5rem;
}
.star input{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: .25rem;
    height: .25rem;
    cursor: pointer;
    appearance: none;
}
.star input::before{
    content: '\f006';
    position: absolute;
    font-family: fontAwesome;
    font-size: 4rem;
    color: #000;
    transition: .5s;
}
.star input:hover ~ input::before,
.star input:hover::before,
.star input:checked ~ input::before,
.star input:checked::before{
    content: "\f005";
    color: var(--color-primary);
}
.message{
    font-weight: bold;
    background: rgba(111,114,117,.01);
    border: 2px solid var(--color-accent);
    border-radius: 1rem;
    padding: 1.5rem;
    line-height: 1.75rem;
    width: 100%;
    height: 5rem;
    min-height: 5rem;
    max-height: 30rem;
    outline: 0;
    overflow: auto;
    resize: vertical;
    transition: all 0.2s;
}
.message:hover{
    cursor: pointer;
    box-shadow: 0 0 0 2px var(--color-accent);
}
.message:focus{
    cursor: text;
}
.btn{
    width: 100%;
    background: var(--color-primary);
    padding: 1.25rem;
    border: 0;
    border-radius: 2rem;
}
.btn:hover{
    background: linear-gradient(20deg,hotpink 25%,magenta);
}
/*shirt color blue*/